## ENVIROMENTS DEV O LOCALHOST ##

PORT=3030
DB_URL=mysql://root:root@localhost:3306/TURNOS_DB

URL_FRONT=http://localhost:5173

JWT_SECRET=12482359HFSEIKLFHBWST8932HDAWDAWDAWDAWFSEGA2342424ADFSASF%%2%%